
<div class = "TopBar" (click)=printPage()>
  <div class = "TopBar__Icon" 
  (click)="sidebarOpen = !sidebarOpen"
  [ngClass]="{'sidebarOpen': sidebarOpen}">
    <fa-icon [icon]="icons['faBars']"></fa-icon>
  </div>
  <div class = "TopBar__Title">
    {{title}}
  </div>
</div>


<div class = "Content">
  <div class = "Content__SideBar"
    [ngClass]="{'sidebarOpen': sidebarOpen}">
    <ul class = "Content__SideBar__L1" >
      <li class ="Content__SideBar__L1__li" *ngFor="let page of pages">
          <!-- <fa-icon [icon]="faAngleRight"></fa-icon> -->
          <span class = "Content__SideBar__L1__li__span" 
            [ngClass] = "{'selected': isSelectedPage(page.title,null)}"
            (click) = "selectPage(page.title,null)">
            <fa-icon [icon]="icons[page.icon]"></fa-icon>
            {{page.title}}
          </span>

          <ul class ="Content__SideBar__L1__L2" *ngIf = "page.subpages.length > 0">
            <li class ="Content__SideBar__L1__L2__li" 
              *ngFor="let subpage of page.subpages">
              <span class ="Content__SideBar__L1__L2__li__span" 
                [ngClass] = "{'selected': isSelectedPage(page.title,subpage.title)}"
                (click) = "selectPage(page.title,subpage.title)">
                <fa-icon [icon]="icons[subpage.icon]"></fa-icon>
                {{subpage.title}}
              </span>
            </li>
          </ul>
      </li>
    </ul>
  </div>
  <div class = "Content__Page"
  [ngClass]="{'sidebarOpenPage': sidebarOpen}">
    <div *ngFor="let page of pages">
        <app-content [page] = page *ngIf = "isSelectedPage(page.title,null)"></app-content>
        <div *ngFor="let subpage of page.subpages" >
            <app-content [page] = subpage *ngIf = "isSelectedPage(page.title,subpage.title)"></app-content>
          </div>
    </div>
    
  </div>
  <!-- <div class = "Content__Page"
  [ngClass]="{'sidebarOpenPage': sidebarOpen}">
    <div *ngFor="let page of pages">
      <app-content [page] = page [ngIf] = "isSelectedPage(page.title,null)"></app-content>
      <div *ngFor="let subpage of page.subpages" [ngIf] = "isSelectedPage(page.title,subpage.title)">
        <app-content [page] = subpage ></app-content>
      </div>
    </div>
    
  </div> -->
</div>



<router-outlet></router-outlet>